@import 'styles/variables';


.exports-item-header-extra {
  display: flex;
  align-items: center;
  margin: 0 0 1rem 0;

  @include media-breakpoint-up(md) {
    margin: 0 0 0 auto;
  }

  .progress {
    width: 5rem;
    background-color: fade-out(white,.5);

    &-value {
      min-width: 4rem;
      padding: 0 .5rem;
      font-size: $font-size-sm;
    }
  }
}