@import "styles/variables";

.pagination-container {
  margin-top: 3rem;

  .pagination {
    margin: 0 0 1rem 0;
    justify-content: center;

    @include media-breakpoint-up(md) {
      justify-content: left;
      margin: 0;
    }

    .page {
      &-item {
        + .page-item {
          margin-left: .25rem;
        }
      }
      &-link {
        border-radius: $border-radius;
        cursor: pointer;
      }
    }
  }
  p {
    margin-bottom: 0;
    text-align: center;
    color: $text-muted;

    @include media-breakpoint-up(md) {
      text-align: right;
    }
  }
}
