// =======
// Buttons
// =======

.btn {
	text-transform: uppercase;
	box-shadow: none !important;
	cursor: pointer;

	// Lowercase

	&.text-lowercase {
		text-transform: none !important;
	}

	// Icons

	> i {
		margin-right: .25rem;
	}

	// Sizes

	&-lg {
		font-size: $font-size-base;
	}

	// Contextual classes

	&-default {
		border: 1px solid $border-color;

		&:hover {
			background-color: darken(white, 2.5%);
		}
	}
	&-success {
		color: white;
	}
	&-link {
		text-transform: none;
		padding:0;
		border: 0;
		margin-bottom: 2px;
	}
}