// ==========
// Typography
// ==========

// Import fonts

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');


// Inline

pre {
	padding: 1rem 2rem;
	background-color: $light;

	> code {
		padding: 0 !important;
		background-color: transparent !important;
	}
}
strong {
	font-weight: 600;
}
small {
	font-size: $font-size-sm;
}
.lead {
	font-size: $font-size-lg;
}