// =====
// Forms
// =====

form {
	
	// Form control

	.form-control {

		&:focus {
			box-shadow: none !important;
		}

		// Sizes

		&-lg {
			font-size: $font-size-base;
		}
	}

	// Submit

	.btn {
		cursor: pointer;
	}

	// Feedback

	.invalid-feedback {
		display: block !important;
		font-size: .95rem;
	}

	// Custom

	.custom {

		// Control

		&-control {

			&-description {
				align-self: center;
			}

			&-info {
				margin-left: .2rem;
			}
		}

		// Select

		&-select {
			width: 100%;
		}
	}
}