// ===========
// Scaffolding
// ===========

html {
	height: 100%;
	font-size: 13px;

	@include media-breakpoint-up(md) {
		font-size: 14px;
	}
}
body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}