@import "styles/variables";

.results {
  padding: 2rem 1rem;
  background-color: white;
  border: 1px solid $border-color;

  @include media-breakpoint-up(md) {
    padding: 2rem;
  }

  &-back {
    margin-top: 2rem;
    margin-bottom: 1rem;

    > button {
      padding: 0;
      background-color: transparent;
      border: none;
      font-size: $font-size-sm;
      text-transform: uppercase;
      color: $text-muted;
      @include hover {
        text-decoration: underline;
      }

      > i {
        margin-right: .25rem;
      }
    }
  }

  &-item {
    margin-bottom: 1rem;
    border: 1px solid $border-color;

    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem 1.5rem;

      @include media-breakpoint-up(md) {
        flex-direction: row;
        align-items: center;
      }

      &-img {
        margin: 0 0 1rem 0;

        > img {
          width: 5rem; height: 5rem;
          border-radius: 50%;
        }

        @include media-breakpoint-up(md) {
          margin: 0 1rem 0 0;
        }
      }

      &-heading {
        text-align: center;
        font-size: $font-size-lg;
        font-weight: 600;

        @include media-breakpoint-up(md) {
          text-align: left;
        }
      }

      &-info {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        display: flex;

        > li {
          text-align: center;

          + li {
            margin-left: 1rem;
          }

          @include media-breakpoint-up(md) {
            text-align: left;
          }
        }
      }
    }

    &-filters {
      padding: 1rem 1.5rem .5rem;
      background-color: $gray-100;

      &-header {
        display: flex;
        justify-content: space-between;

        .form-group {
          margin-bottom: 0;
        }
      }

      &-body {
        font-size: $font-size-sm;

        > p {
          font-weight: 600;

          &:first-child {
            margin-top: .5rem;
          }
        }

        &-groups {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          @include media-breakpoint-up(md) {

            > .form-group {
              flex: 1;

              + .form-group {
                margin-left: .5rem;
              }
            }
          }
        }
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin-bottom: 0;
      padding: 1rem;

      @include media-breakpoint-up(md) {
        padding: 1rem 1.5rem;
      }

      > li {
        text-align: center;

        .btn {
          white-space: normal;
          text-transform: none;
          color: $link-color;
          background-color: transparent;
          @include hover {
            color: $link-hover-color;
          }
        }

        + li {
          margin-top: .5rem;
        }
      }
    }
  }

}