@import "styles/variables";

.plan {
  @include media-breakpoint-up(lg) {
    .no-gutters {
      margin-left: -.5rem;
      margin-right: -.5rem;

      > [class*="col"] {
        padding-left: .5rem;
        padding-right: .5rem;
      }
    }
  }
}