@import "styles/variables";

.plan-item {
  margin-bottom: 1rem;
  border: 1px solid $border-color;
  box-shadow: $box-shadow-base;

  @include media-breakpoint-up(lg) {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
  }

  &.active {
    border-top: 2px solid $primary;
  }

  &-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2.5rem 1.5rem;
    background-color: white;

    &-heading {
      margin-bottom: 2.5rem;
      text-transform: uppercase;
      text-align: center;
      color: $primary;
      letter-spacing: .1em;
    }

    &-features {
      list-style: none;
      margin-bottom: 2.5rem;
      padding-left: 0;

      > li {
        display: flex;

        + li {
          margin-top: .5rem;
        }

        &:before {
          content: '\f3fd';
          min-width: 1.5rem;
          font-family: 'Ionicons';
          font-size: 2rem;
          line-height: $line-height-base * 1rem;
          color: $primary;
        }
      }
    }

    &-price {
      margin-top: auto;
      font-size: $h3-font-size;
      font-weight: 300;
      text-align: center;
      color: $primary;

      > small {
        font-size: 1rem;
        font-weight: 300;
        vertical-align: text-top;
        color: $text-muted;

        &:last-child {
          vertical-align: baseline;
        }
      }
    }
  }

  &-footer {
    margin-top: auto;
  }
}

