@import 'styles/variables';

.app-btn{
  position: relative;
  .btn-loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
  .btn-content-loading{
    opacity: 0.1;
  }

  &.btn-image{
    border: none;
    background-color: transparent;
    cursor: pointer;
    @include hover-focus {
      outline: none;
    }
  }
}