@import "../../../styles/variables";

div.nav-aside {
  display: block;
  margin-bottom: 2rem;
  list-style: none;
  padding-left: 0;

  @include media-breakpoint-up(md) {
    position: sticky;
    top: $navbar-margin-bottom;
  }

  .nav-link {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: $primary;
    color: white;

    &:hover {
      text-decoration: none;
    }

    + .nav-link {
      border-top: 1px solid fade-out(white, .75);
    }

    &.active, &:hover {
      background-color: $primary-dark;

      + .nav-link {
        border-top-color: fade-out(white, .8);
      }
    }

    // Arrow
    &:after {
      content: '\f3d3';
      margin-left: auto;
      padding-left: 1rem;
      font-family: 'Ionicons';
    }
  }
}