@import "styles/variables";

.confirmation {
  text-align: center;

  &.info{
    border-top: 2px solid $primary;
  }

  &.error{
    border-top: 2px solid $danger;
  }

  &-heading {
    display: flex;
    align-items: center;
    justify-content: center;

    > i {
      margin-right: .75rem;
      font-size: 1.5em;

      &.ion-ios-checkmark-outline{
        color: $success;
      }
      &.ion-ios-close-outline{
        color: $danger;
      }
    }
  }

  &-subheading {
    margin-bottom: 1.5rem;
    font-weight: 600;

    > span {
      font-weight: normal;
    }
  }

  &-content {
    max-width: 600px;
    margin: 0 auto 1rem;
    color: $text-muted;
  }

  &-btn {
    > button {
      min-width: 7rem;
    }
  }
}