@import "styles/variables";

.exports-header {
  margin-bottom: 1.5rem;
  &-heading {
    margin-bottom: 0;
  }
  &-search {
    display: flex;
    justify-content: flex-end;

    .form {

      &-group {
        position: relative;
        margin-bottom: 0;

        &:before {
          content: '\f4a4';
          position: absolute;
          width: 2rem;
          top: 50%;
          left: 0;
          text-align: center;
          font-family: 'Ionicons';
          font-size: $font-size-lg;
          transform: translateY(-50%);
        }
      }
      &-control {
        width: 100%;
        max-width: 15rem;
        padding-left: 2rem
      }
    }
  }
}