// =========
// Variables
// =========

// Options

$enable-rounded: false;	

// Colors

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$primary: #00b9ff;
$primary-light: lighten( $primary, 5% );
$primary-dark: darken( $primary, 5% );

$dark: #4a4a4a;


// Components

$border-color: $gray-200;


// Body

$body-color: $dark;
$body-bg: $gray-100;


// Links

$link-color: $primary;
$link-hover-color: $primary-dark;


// Fonts

$font-family-sans-serif: 'Open Sans', serif;
$font-family-base: $font-family-sans-serif;

$font-size-lg: 1.05rem;
$font-size-sm: .95rem;

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 300;

$text-muted: #999;


// Navbar

$navbar-height: 6rem;
$navbar-margin-bottom: 3rem;

$navbar-light-color: $body-color;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;


// Dropdown

$dropdown-spacer: 0;
$dropdown-border-color: $gray-300;
$dropdown-item-padding-y: .5rem;

$dropdown-link-hover-color: white;
$dropdown-link-hover-bg: $primary;

$dropdown-link-active-color: $primary;
$dropdown-link-active-bg: transparent;


// Box shadow

$box-shadow-base: 0 3px 9px 0 fade-out(black, .95);


// Forms

$input-btn-padding-x: .75rem;
$input-btn-padding-y: .5rem;

$input-btn-padding-x-lg: 1.875rem;
$input-btn-padding-y-lg: 1.25rem;

$input-border-color: $border-color;
$input-focus-border-color: $primary-dark;

$input-placeholder-color: $text-muted;

$custom-control-indicator-bg: $border-color;
$custom-control-indicator-size: 1.05rem;


// Navs

$nav-link-padding-x: 1.5rem;
$nav-link-padding-y: 1rem;

$nav-tabs-border-color: $border-color;
$nav-tabs-link-hover-border-color: transparent;
$nav-tabs-link-active-color: $body-color;
$nav-tabs-link-active-bg: white;
$nav-tabs-link-active-border-color: $border-color;


// Pagination

$pagination-bg: fade-out($primary, .95);
$pagination-border-width: 0;

$pagination-hover-color: white;
$pagination-hover-bg: $primary;

$pagination-active-color: white;
$pagination-active-bg: $primary;

$pagination-disabled-color: $text-muted;


// Table

$table-border-color: $border-color;


// Popovers

$popover-border-color: $border-color;
$popover-body-padding-y: 1rem;
$popover-body-padding-x: 1rem;


//imported bootstrap vars/functions/mixins in order to be used in component scss.
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";