@import "styles/variables";

.billing {

  &-heading {
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $border-color;
  }

  &-form {

    label {
      display: flex;

      .label-img {
        margin-left: auto;

        > img {
          line-height: $line-height-base;
          max-height: 1.25rem; height: auto;
          padding-left: 1rem;
        }
      }
    }

    &-card {
      margin: 1rem -1rem 2rem;
      padding: 2rem 1rem 1rem;
      background-color: $light;

      @include media-breakpoint-up(md) {
        margin: 1rem -2rem 2rem;
        padding: 2rem 2rem 1rem;
      }
    }

    &-pre {
      padding-bottom: .75rem;
      margin-bottom: .75rem;
      border-bottom: 1px solid $border-color;
    }

    &-total {
      margin-bottom: 1rem;
    }

    &-submit {

      .btn {
        width: 100%;

        + .btn {
          margin-top: .5rem;
        }

        @include media-breakpoint-up(md) {
          min-width: 10rem;
          width: auto;

          + .btn {
            margin-top: 0;
          }
        }
      }
    }

    &-heading {
      margin-bottom: 0;
      text-align: right;
    }

    &-price {
      min-width: 5rem;
      text-align: right;

      > strong {
        font-size: $h5-font-size;
      }
    }
  }
}