@import "styles/variables";

.navbar {
  min-height: $navbar-height;
  margin-bottom: $navbar-margin-bottom;
  border-bottom: 1px solid $border-color;

  &-brand {
    > img {
      height: 3rem; width: auto;
    }
  }

  .nav {
    &-link {
      position: relative;
      padding-left: 1rem !important;
      padding-right: 1rem !important;
      text-transform: capitalize;

      &.active {
        @include media-breakpoint-up(md) {
          &:before {
            content: '';
            position: absolute;
            left: 0; right: 0; bottom: -1.25rem;
            border-top: 1px solid;
          }
        }
      }

      + .dropdown-menu {
        @include media-breakpoint-down(sm) {
          border: 0;
        }
      }
    }
  }
}
.dropdown {
  &-menu {
    font-size: $font-size-sm;
    text-transform: capitalize;
  }
  &-item {
    > i {
      display: inline-block;
      width: 1.25rem;
      color: $gray-400;
    }
    &:hover {
      > i {
        color: $dropdown-link-hover-color;
      }
    }
  }
}