@import "styles/variables";

.search {
  .section-heading {
    margin-bottom: 1.5rem;
  }

  &-form {
    margin-bottom: 1rem;

    .form-group {

      &:first-child {
        margin-bottom: 1rem;

        @include media-breakpoint-up(md) {
          margin-bottom: .25rem;
        }
      }
      &:last-child {

        @include media-breakpoint-up(sm) {
          display: flex;
          margin-bottom: 0;
          box-shadow: $box-shadow-base;
        }
      }

      label {

        &:first-child {
          margin-right: 1rem;
        }
      }

      .custom-control {

        @include media-breakpoint-down(sm) {
          display: block;
        }
      }

      button {
        font-size: 1.25rem;
        line-height: $line-height-base * 1rem;

        @include media-breakpoint-down(xs) {
          width: 100%;
          margin-top: .5rem;
        }
      }
    }
  }
}