@import "styles/variables";

.exports-item-body-stats {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  > li {

    > span {
      display: inline-block;
      min-width: 7rem;
      font-size: $font-size-sm;
      text-transform: uppercase;
      color: $text-muted;
    }

    > a:not(.btn) {
      color: $body-color;
    }

    // Buttons

    .btn {
      margin-bottom: .25rem;
    }

    + li {
      margin-top: .25rem;
    }
  }
}