@import "styles/variables";

.section {
  padding: 2rem 1rem;
  background-color: white;
  border: 1px solid $border-color;

  @include media-breakpoint-up(md) {
    padding: 2rem;
  }

  + .section {
    margin-top: 1.5rem;
  }

  // First

  &:first-of-type {
    border-top: 2px solid $primary;
  }

  &-heading {
    margin-bottom: 2rem;

    + .section-subheading {
      margin-top: -1.5rem;
    }
  }

  &-subheading {
    margin-bottom: 2rem;
    color: $text-muted;
  }
}