@import "styles/variables";

.plan-cancel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2.5rem 0 3rem;

  > a {
    margin: 1rem 0 0 0;
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    margin: 3rem 0;

    > a {
      margin: 0 0 0 1rem;
    }
  }
}