@import "styles/variables";

.exports-item {

  + .exports-item {
    margin-top: 1rem;
  }

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.5rem;
    cursor: pointer;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    // Backgrounds

    &.bg-secondary {
      background-color: theme-color-level( secondary, -10 ) !important;
    }
    &.bg-warning {
      background-color: theme-color-level( warning, -10 ) !important;
    }
    &.bg-info {
      background-color: theme-color-level( info, -10 ) !important;
    }
    &.bg-success {
      background-color: theme-color-level( success, -10 ) !important;
    }
    &.bg-danger {
      background-color: theme-color-level( danger, -10 ) !important;
    }

    // Arrow

    &:after {
      content: '\f3d0';
      margin-left: 1rem;
      font-family: 'Ionicons';

      @at-root [aria-expanded="true"]#{&} {
        content: '\f3d8';
      }
    }

    // Image

    &-img {
      margin: 0 1rem 1rem 0;

      > img {
        height: 4rem; width: 4rem;
        border-radius: 50%;
      }

      @include media-breakpoint-up(md) {
        margin: 0 1rem 0 0;
      }
    }

    // Heading

    &-heading {
      margin: 0 0 1rem 0;
      text-align: center;
      font-weight: 600;
      letter-spacing: -.025em;

      @include media-breakpoint-up(md) {
        text-align: left;
        margin: 0 1rem .5rem 0;
      }
    }

    // Timing

    &-timing {
      display: flex;
      justify-content: center;
      list-style: none;
      padding-left: 0;
      margin: 0 0 1rem 0;
      font-size: $font-size-sm;
      color: fade-out($body-color, .25);

      > li {

        + li {
          margin: 0 0 0 1rem;
        }
      }

      @include media-breakpoint-up(md) {
        margin: 0;
      }

      .badge {
        border-radius: 5rem;
        text-transform: uppercase;
      }
    }
  }

  &-body {
    &-inner {
      padding: 1.5rem 1.5rem;
      border: 1px solid $border-color;
      border-top: 0;
    }
  }
}