@import "styles/variables";

.cards-form {
  padding: 2rem 1.5rem;
  border: 1px solid $border-color;

  &-heading {
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $border-color;
  }

  label {
    display: flex;

    .label-img {
      margin-left: auto;

      > img {
        line-height: $line-height-base;
        max-height: 1.25rem; height: auto;
        padding-left: 1rem;
      }
    }
  }

  &-submit {

    .btn {
      width: 100%;

      + .btn {
        margin-top: .5rem;
      }

      @include media-breakpoint-up(md) {
        min-width: 10rem;
        width: auto;

        + .btn {
          margin-top: 0;
        }
      }
    }
  }
}