@import "../../styles/variables";

.faq {
  &-accordion {
    .card {
      border: 0;
      &-header {
        padding: 1rem 0;
        background-color: transparent;
        border-width: 0 0 1px 0;
        border-color: $border-color;

        > h5 {
          margin-bottom: 0;

          > span {
            cursor: pointer;
            display: flex;
            align-items: center;
            color: $body-color;

            &:hover {
              color: $primary;
              text-decoration: none;
            }

            // Arrow

            &:after {
              margin-left: auto;
              padding-left: 1rem;
              font-family: 'Ionicons';
              color: $primary;
            }

            // Expanded

            &[aria-expanded="false"] {

              &:after {
                content: '\f3d0';
              }
            }
            &[aria-expanded="true"] {

              &:after {
                content: '\f3d8';
              }
            }
          }
        }
      }

      // Body

      &-body {
        padding: 1rem 0;
      }

      // Last child

      &:last-child {

        .card-header {
          border-bottom: 0;
        }
      }
    }
  }
}