@import "styles/variables";

.cards {
  &-info {
    color: $text-muted;
  }
  &-btn {
    text-align: right;
    margin-bottom: 2rem;
  }
  &-item {
    padding: 1rem 1.5rem;
    border: 1px solid $border-color;

    &-heading {
      font-weight: bold;

      > span {
        font-weight: normal;
      }
    }

    &-content {
      margin-bottom: 0;
      font-size: $font-size-sm;
      color: $text-muted;
    }
  }
}